@font-face {
  src: url(Images-fonts/futura-heavy.ttf);
  font-family: heavy;
}

@font-face {
  src: url(Images-fonts/futura-book.ttf);
  font-family: book;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
// NavBar section (start)
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.brand-title {
  font-size: 1rem;
  margin: 1em;
  margin-right: auto;
  width: 120px;
}
.navbar-links {
  width: 100%;
  /* display: flex; */
  display: none;
}

.navbar-links ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.navbar-links li {
  list-style: none;
  width: 100%;
}

.navbar-links li:hover {
  background-color: #555;
}

.navbar-links a {
  width: 100%;
  text-decoration: none;
  color: black;
  /* padding: 1rem; */
  font-size: 0.75rem;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25px;
  height: 21px;
}

.toggle-button .bar {
  display: inline-block;
  height: 3px;
  width: 130%;
  background-color: #ab00ff;
}
.toggle-button .bar2 {
  display: inline-block;
  height: 3px;
  width: 100%;
  margin-left: 8px;
  background-color: #ab00ff;
}

.navbar-links.active {
  display: flex;
}

// NavBar section (end)

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  background-image: url("./Images-fonts/hero-bg-texture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;

  .hero_title {
    padding-top: 130px;
    font-size: 13px;
    font-family: heavy;
  }
  .hero_card {
    width: 300px;
    height: 100px;
    margin-top: 50px;
    box-shadow: 0 0 20px -10px;
  }
}
.brand_title {
  font-family: heavy;
  text-align: center;
}
.cards {
  padding-top: 250px;

  .cards_picture {
    width: 320px;
    margin-top: 50px;
  }

  .cards_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards_title {
    text-align: center;
    font-family: heavy;
    color: #ab00ff;
    margin-bottom: 70px;
  }

  .cards_card {
    margin: 10px;
    display: grid;
    grid-template-columns: 80% 20%;
    border: solid black;
    border-width: 0px;
    border-radius: 5%;
    box-shadow: 0 0 20px -10px;
    background-color: white;
    height: 110px;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 70%;
    font-family: book;

    img {
      width: 20px;
    }
  }
}

.brands {
  display: flex;
  justify-content: center;
  text-align: center;

  .brands_div {
    img {
      width: 130px;
      padding: 20px;
    }

    .parent_icon1 {
      display: flex;
      flex-direction: row;
    }

    .parent_icon2 {
      display: flex;
      flex-direction: row;
    }
  }
}

.footer {
  background: linear-gradient(#ab00ff, #007bff);
  width: 100%;
  height: 450px;
  .footer_form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .footer_button {
    border: none;
    width: 130px;
    height: 30px;
    font-family: heavy;
    margin: center;
    margin: 10px;
    mix-blend-mode: screen;
  }

  .footer_title {
    color: white;
    font-family: heavy;
    text-align: center;
  }

  .footer_email {
    border: none;
    border-radius: 15px;
    width: 180px;
    height: 31px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    ::placeholder {
      color: white;
    }
  }
  .footer_button {
    border-radius: 15px;
  }
  .footer_parent {
    height: 60%;
    display: flex;
    justify-content: flex-end;

    .footer_links {
      list-style-type: none;
      font-family: book;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      padding: 5px;
      align-self: flex-end;
    }
    li {
      a {
        text-decoration: none;
        color: white;
        font-family: "book";
        font-weight: bold;
        font-size: 15px;
        margin: 4px;
        letter-spacing: 1px;
      }
    }
  }
}

@media (min-width: 550px) {
  // navbar start
  .toggle-button {
    display: none;
  }
  .brand-title {
    margin: 0;
    padding: 0;
    margin-right: 200px;
  }
  .navbar {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .navbar-links {
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 49%;

    .button {
      background: linear-gradient(#ab00ff, #007bff);
      border-radius: 10px;
      height: 20px;
      font-family: heavy;
      a {
        color: white;
        text-align: center;
      }
    }
  }
  .navbar-links ul {
    flex-direction: row;
  }
  // navbar end

  // footer start
  .footer_button {
    border: none;
    width: 160px;
    height: 40px;
    font-family: heavy;
    margin: center;

    mix-blend-mode: screen;
  }

  .footer_title {
    color: white;
    font-family: heavy;
    text-align: center;
    padding-top: 25px;
  }

  .footer_email {
    border: none;
    border-radius: 15px;
    width: 220px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    ::placeholder {
      color: white;
    }

    .footer_button {
      border-radius: 15px;
    }
    .footer_parent {
      height: 45%;
      display: flex;
      justify-content: flex-end;

      .footer_links {
        list-style-type: none;
        font-family: book;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 5px;
        align-self: flex-end;
      }
      li {
        a {
          text-decoration: none;
          color: white;
          font-family: "book";
          font-weight: bold;
          font-size: 15px;
          margin: 4px;
          letter-spacing: 1px;
        }
      }
    }
  }
  // footer end

  // brands start
  .brands {
    display: flex;
    align-items: center;
  }
  // brands end

  // cards start
  .cards {
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cards_parent {
      display: flex;
      flex-direction: row;

      width: 700px;
    }
    .cards_picture {
      width: 520px;
      margin-top: 50px;
    }

    .cards_title {
      text-align: center;
      font-family: heavy;
      color: #ab00ff;
      margin-bottom: 70px;
      font-size: 40px;
    }

    .cards_card {
      display: grid;
      grid-template-columns: 80% 20%;
      border: solid black;
      border-width: 0px;
      border-radius: 5%;
      box-shadow: 0 0 20px -10px;
      background-color: white;
      height: 110px;
      padding: 10px;
      width: 70%;
      font-family: book;

      img {
        width: 20px;
      }
    }
  }
  // cards end

  // heroes start
  .hero {
    .hero_title {
      font-size: 100%;
    }
    .hero_card {
      width: 500px;
      height: 200px;
    }
  }
  // heroes end
}
