@font-face {
  src: url(Images-fonts/futura-heavy.ttf);
  font-family: heavy;
}

@font-face {
  src: url(Images-fonts/futura-book.ttf);
  font-family: book;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  color: white;
}

.navbar .navbar-title {
  font-size: 1rem;
  margin: 1em;
  margin-right: 3em;
}

.navbar .navbar-links.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-links {
  width: 100%;
  display: none;
}

.navbar .navbar-links a {
  width: 100%;
  text-decoration: none;
  color: white;
  /* padding: 1rem; */
  font-size: .75rem;
}

.navbar .navbar-links .toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 25px;
  height: 21px;
}

.navbar .navbar-links .toggle-button .bar {
  display: inline-block;
  height: 3px;
  width: 100%;
  background-color: white;
}

.navbar .navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
}

.navbar .navbar-links ul li {
  list-style: none;
  width: 100%;
}

.navbar .navbar-links ul li:hover {
  background-color: #555;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./Images-fonts/hero-bg-texture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.hero .hero_title {
  padding-top: 130px;
  font-size: 13px;
  font-family: heavy;
}

.hero .hero_card {
  width: 300px;
  height: 100px;
  margin-top: 50px;
  -webkit-box-shadow: 0 0 20px -10px;
          box-shadow: 0 0 20px -10px;
}

.brand_title {
  font-family: heavy;
  text-align: center;
}

.cards {
  padding-top: 250px;
}

.cards .cards_picture {
  width: 320px;
  margin-top: 50px;
}

.cards .cards_parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .cards_title {
  text-align: center;
  font-family: heavy;
  color: #ab00ff;
  margin-bottom: 70px;
}

.cards .cards_card {
  margin: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  border: solid black;
  border-width: 0px;
  border-radius: 5%;
  -webkit-box-shadow: 0 0 20px -10px;
          box-shadow: 0 0 20px -10px;
  background-color: white;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
  width: 70%;
  font-family: book;
}

.cards .cards_card img {
  width: 20px;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.brands .brands_div img {
  width: 130px;
  padding: 20px;
}

.brands .brands_div .parent_icon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.brands .brands_div .parent_icon2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#ab00ff), to(#007bff));
  background: linear-gradient(#ab00ff, #007bff);
  width: 100%;
  height: 450px;
}

.footer .footer_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.footer .footer_button {
  border: none;
  width: 130px;
  height: 30px;
  font-family: heavy;
  margin: center;
  margin: 10px;
  mix-blend-mode: screen;
}

.footer .footer_title {
  color: white;
  font-family: heavy;
  text-align: center;
}

.footer .footer_email {
  border: none;
  border-radius: 15px;
  width: 180px;
  height: 31px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}

.footer .footer_email ::-webkit-input-placeholder {
  color: white;
}

.footer .footer_email :-ms-input-placeholder {
  color: white;
}

.footer .footer_email ::-ms-input-placeholder {
  color: white;
}

.footer .footer_email ::placeholder {
  color: white;
}

.footer .footer_button {
  border-radius: 15px;
}

.footer .footer_parent {
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footer_parent .footer_links {
  list-style-type: none;
  font-family: book;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .footer_parent li a {
  text-decoration: none;
  color: white;
  font-family: "book";
  font-weight: bold;
  font-size: 15px;
  margin: 4px;
  letter-spacing: 1px;
}

@media (min-width: 550px) {
  .footer_button {
    border: none;
    width: 160px;
    height: 40px;
    font-family: heavy;
    margin: center;
    mix-blend-mode: screen;
  }
  .footer_title {
    color: white;
    font-family: heavy;
    text-align: center;
    padding-top: 25px;
  }
  .footer_email {
    border: none;
    border-radius: 15px;
    width: 220px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .footer_email ::-webkit-input-placeholder {
    color: white;
  }
  .footer_email :-ms-input-placeholder {
    color: white;
  }
  .footer_email ::-ms-input-placeholder {
    color: white;
  }
  .footer_email ::placeholder {
    color: white;
  }
  .footer_email .footer_button {
    border-radius: 15px;
  }
  .footer_email .footer_parent {
    height: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer_email .footer_parent .footer_links {
    list-style-type: none;
    font-family: book;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 5px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .footer_email .footer_parent li a {
    text-decoration: none;
    color: white;
    font-family: "book";
    font-weight: bold;
    font-size: 15px;
    margin: 4px;
    letter-spacing: 1px;
  }
  .brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards {
    padding-top: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards .cards_parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 700px;
  }
  .cards .cards_picture {
    width: 520px;
    margin-top: 50px;
  }
  .cards .cards_title {
    text-align: center;
    font-family: heavy;
    color: #ab00ff;
    margin-bottom: 70px;
    font-size: 40px;
  }
  .cards .cards_card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80% 20%;
        grid-template-columns: 80% 20%;
    border: solid black;
    border-width: 0px;
    border-radius: 5%;
    -webkit-box-shadow: 0 0 20px -10px;
            box-shadow: 0 0 20px -10px;
    background-color: white;
    height: 110px;
    padding: 10px;
    width: 70%;
    font-family: book;
  }
  .cards .cards_card img {
    width: 20px;
  }
}
/*# sourceMappingURL=style.css.map */